h1 {
  font-family: "Reem Kufi", sans-serif;
  font-size: 4.3rem;
  color: #7a68f2;
}

h1 span {
  color: #faf45f;
}

h2 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 2.4rem;
  color: #7a68f2;
}

h3 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.875rem;
  color: #656565;
}

h4 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.43rem;
  color: #000000;
  margin-bottom: 10px;
  margin-top: 40px;
}

.wrapper {
  max-width: 1280px;
  margin-top: 125px;
  margin-right: auto;
  margin-left: auto;
}

.wrapperLoader {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* LOADER */

.wrapperLoader {
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  width: 70px;
  overflow: visible;
  cursor: pointer;
}
svg .loader-ring {
  transform-origin: 50px 50px;
  animation: starting-fill 0.5s forwards,
    vary-loader-width 3s 0.5s linear infinite alternate,
    spin 1.6s 0.2s linear infinite;
}
svg .loader-ring-overlay {
  visibility: hidden;
  transform-origin: 50px 50px;
  animation: spin 1.6s 0.2s linear infinite;
}
.complete .loader-ring-overlay {
  visibility: visible;
  animation: complete-fill 0.5s linear forwards, spin 1.6s 0.2s linear infinite;
}
.complete .loader-ring {
  animation: starting-fill 0.5s forwards,
    vary-loader-width 3s 0.5s linear infinite alternate,
    spin 1.6s 0.2s linear infinite, fade 0.1 0.5s linear forwards;
}
.complete svg {
  animation: fade 0.2s 0.7s linear forwards;
  transition: all 0s 0.9s;
  cursor: initial;
  pointer-events: none;
}
button {
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  background-color: #10828800;
  font-size: 16px;
  cursor: pointer;
}
.hidden {
  display: none !important;
}
@keyframes starting-fill {
  to {
    stroke-dashoffset: 270;
  }
}
@keyframes vary-loader-width {
  0% {
    stroke-dashoffset: 270;
  }
  50% {
    stroke-dashoffset: 170;
  }
  100% {
    stroke-dashoffset: 275;
  }
}
@keyframes complete-fill {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* HEADER */

header {
  z-index: 9999;
  margin-right: auto;
  margin-left: auto;
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  max-width: 1280px;
  height: 125px;
  border-bottom: 1px solid #f0f0f0;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  margin-right: 20px;
}

/* LOGO */
.logo-main {
  margin-left: 20px;
}

.logo-almost {
  font-family: "Reem Kufi", sans-serif;
  font-size: 0.5rem;
  color: #b9b9b9;
  margin-bottom: 5px;
  text-decoration: none;
}

.logo-vinted {
  font-family: "Reem Kufi", sans-serif;
  font-size: 2.4em;
  font-weight: 700;
  color: #7a68f2;
  text-decoration: none;
  text-decoration: none;
}

.logo-vinted span {
  color: #faf45f;
}

/* SEARCH BAR */
.searchbar img {
  width: 16px;
  margin-left: -8px;
  margin-top: 2px;
}

.text-field-main input {
  width: 250px;
  height: 44px;
  border-radius: 30px;
  border: 1px solid #b9b9b9;
  box-sizing: border-box;
  background: border-box;
  padding-left: 25px;
}

.text-field-main input:focus {
  border: 2px solid #7a68f2;
  outline: none;
}

.text-field-main input::-webkit-input-placeholder {
  color: #b9b9b9;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  margin-left: 25px;
}

.text-field-main input:-ms-input-placeholder {
  color: #b9b9b9;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  margin-left: 25px;
}

.text-field-main input::-ms-input-placeholder {
  color: #b9b9b9;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  margin-left: 25px;
}

.text-field-main input::placeholder {
  color: #b9b9b9;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  margin-left: 25px;
}

form.searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

form.searchbar button {
  width: 39px;
  height: 39px;
  background-color: #7a68f2;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  position: relative;
  right: 48px;
}

/* NAVIGATION */
.nav-main {
  margin-left: -25px;
}

.nav-main ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav-main li {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 0.875em;
  color: #656565;
  margin-right: 15px;
  margin-left: 15px;
  cursor: pointer;
}

.nav-main li:hover {
  color: #7a68f2;
  border-bottom: 2px solid #7a68f2;
}

.nav-main li:active {
  color: #7a68f2;
}

/* BUTTONS SIGN - SELL */
.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}

.button-primary {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.1em;
  color: #ffffff;
  width: 140px;
  height: 40px;
  border-radius: 30px;
  background-color: #7a68f2;
  cursor: pointer;
  border: none;
}

.buttons .button-primary {
  margin-left: 15px;
}

.link {
  color: #7a68f2;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

.vert-separator {
  height: 22px;
  width: 1px;
  background-color: #7a68f2;
  margin: 0 20px;
}

.connectionButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* HERO BANNER */
.hero-banner {
  box-sizing: border-box;
  padding-top: 90px;
  margin-top: 125px;
  height: 375px;
  background-image: url(/src/img/hero-women.png);
}

.hero-banner h1 {
  margin-left: 100px;
}

/* SECTION TITLE */
.section-title {
  display: flex;
  margin-left: 60px;
  align-items: center;
  margin-top: 70px;
}

.section-title .vert-separator {
  background-color: #7a68f2;
}

.link {
  color: #7a68f2;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

/* CARDS */

.offers-list {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 27%);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-top: -70px;
}

.offer-card-main {
  height: 258px;
  display: flex;
  box-shadow: 1px 1px 10px #00223441;
  transition-property: box-shadow;
  transition-duration: 0.3s;
  border-radius: 10px;
  overflow: hidden;
}

.offer-card-main:hover {
  box-shadow: 5px 5px 40px #00223441;
}

.offer-card-image {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.offer-card-content {
  background-color: #ffffff;
  cursor: pointer;
  padding: 20px;
  box-sizing: border-box;
  width: 60%;
}

.offer-card-image img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  transform: scale(0.6);
}

.offer-card-price,
.offer-card-description,
.offer-card-brand,
.offer-card-size,
.offer-card-user {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  color: #656565;
}

.offer-card-price {
  font-size: 1.5rem;
  font-weight: 700;
  height: 24px;
  margin-bottom: 15px;
}

.offer-card-description {
  font-size: 0.9rem;
  line-height: 20px;
  height: 60px;
  margin-bottom: 15px;
}

.card-info {
  display: flex;
  justify-content: space-between;
}

.offer-card-brand {
  font-size: 0.9rem;
  height: 14px;
  margin-bottom: 5px;
}

.offer-card-size {
  font-size: 0.9rem;
  height: 14px;
  margin-bottom: 10px;
}

.hor-separator {
  height: 1px;
  width: 100%;
  background-color: #e6e6e6;
  margin-bottom: 15px;
}

.offer-card-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
}

.offer-card-user img {
  width: 26px;
  height: 26px;
  border-radius: 30px;
  object-fit: cover;
}

.offer-card-user p {
  margin-left: 10px;
}

.offerInfos {
  display: flex;
  flex-direction: column;
}

.offerInfos li {
  list-style-type: none;
}

.offerInfos span {
  display: inline-block;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  color: #656565;
  font-size: 0.9rem;
  height: 14px;
  margin-bottom: 10px;
}

/* OFFER PAGE */

.contentOffer {
  width: 100%;
  display: flex;
  column-gap: 40px;
  justify-content: center;
  margin-top: 165px;
  height: 700px;
  overflow: hidden;
}

.offerImage {
  width: 520px;
  height: 570px;
  border-radius: 10px;
  margin-top: 20px;
  overflow: hidden;
}

.offerImage img {
  width: 100%;
  object-fit: cover;
}

.offerInformations {
  padding: 30px;
  box-sizing: border-box;
  width: 445px;
  height: 570px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 5px 29px #00223441;
  margin-top: 20px;
}

.offerHeader {
  display: flex;
  justify-content: space-between;
}

.offerPrice {
  margin: 10px 0;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #656565;
}

.offerDescription {
  margin: 10px 0;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  color: #656565;
}

.BtnBuy {
  color: white;
}

/* /* FOOTER */
footer {
  margin-top: 60px;
  border-top: 1px solid #e6e6e6;
  margin-right: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  width: 100vw;
  max-width: 1920px;
  height: 100px;
}

.logo-footer {
  margin-left: 40px;
}

.logo-footer .logo-main {
  margin-left: 60px;
}

.logo-footer .logo-almost {
  font-size: 0.3125rem;
  margin-bottom: 0px;
}

.logo-footer .logo-vinted {
  font-size: 1.75rem;
}

footer .nav-main {
  margin-left: 30px;
}

/* SIGN UP PAGE */
/* BUTTONS SIGN - SELL */
.buttons {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.back-link {
  position: absolute;
  margin-top: 30px;
  margin-left: 30px;
}

.button-primary {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.1em;
  color: #ffffff;
  width: 140px;
  height: 40px;
  border-radius: 30px;
  background-color: #7a68f2;
  cursor: pointer;
  border: none;
}

.buttons .button-primary {
  margin-left: 15px;
}

/* .button-secondary {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.1em;
  color: #7a68f2;
  width: 140px;
  height: 40px;
  border-radius: 30px;
  border: 2px solid #7a68f2;
  background-color: #ffffff;
  cursor: pointer;
} */
.link a {
  color: #7a68f2;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  border: none;
  outline: none;
  padding: 0;
  background-color: #ffffff;
  cursor: pointer;
  margin: 0 15px;
}

.vert-separator {
  height: 22px;
  width: 1px;
  background-color: #e6e6e6;
}

.back-link {
  position: absolute;
  margin-top: 30px;
  margin-left: 30px;
}

/* SIGN UP PAGE */
.panels {
  display: flex;
  height: 70vh;
  margin-top: 150px;
}

.left-panel,
.right-panel {
  box-shadow: 5px 5px 29px #2200ff27;
  width: 50%;
}

.left-panel {
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lorem {
  font-family: "Nunito", sans-serif;
  font-size: 0.875rem;
  color: #656565;
  width: 100%;
  line-height: 19px;
}

.right-panel {
  background-color: #7a68f2;
  border-radius: 0 10px 10px 0;
  overflow: hidden;
  background-image: url(../src/img/card-grid-2.png);
  background-position: center;
  background-size: inherit;
}

.right-panel::before {
  content: "";
  display: block;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #7a68f2a5;
  overflow: hidden;
}

/* SIGN UP FORM */

.sign-up-module {
  width: 50%;
}
.form-sign-up {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-sign {
  margin-top: 30px;
  margin-bottom: 30px;
}

.form-sign input {
  width: 100%;
  margin-bottom: 20px;
}

.form-sign button {
  width: 100%;
}

.form-label {
  font-family: "Nunito Sans", sans-serif;
  font-size: 0.75rem;
  color: #656565;
  margin-bottom: 10px;
}

.left-panel .hor-separator {
  height: 1px;
  width: 100%;
  background-color: #e6e6e6;
  margin-top: 10px;
}

.form-sign-up-button {
  background-color: #7a68f2;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  position: relative;
  color: #ffffff;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 1.43rem;
}

.already-signed {
  margin-top: 15px;
  text-align: center;
}

.modal1 {
  width: 400px;
  height: 400px;
  background-color: #7a68f2;
}

.modal2 {
  width: 400px;
  height: 400px;
  background-color: #faf45f;
}
